name: Tests
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn
        env: 
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Run Jest tests
        run: yarn test 
        env: 
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}